table {
	table-layout: fixed;
	width: 500px;
	margin: 0 auto;
}

caption {
	color: #0096c7;
	font-size: 20px;
	font-weight: bold;
}

thead {
	background-color: #0096c7;
	color: white;
}

tr:nth-child(even) {
	background: #caf0f8;
}
tr:hover {
	color: white;
	background-color: blue;
	transition: 0.2s;
}
